{{! In this case, comments is an array (vs object) and can't be easily destructed into a variable.
And so, post.comments won't work.
In Handlebars.js, we can use the trusty keyword 'this' to refer to the parent object
or array that's available in the context of the partial. 
Data that's passed to a template file is technically always part of this, 
but when dealing with objects, we can simply access the object properties directly
Because arrays don't have named properties like objects do, 
we're forced to access the array as 'this'. 
And so, by using this, we loop over 'this' and look for properties on each object from the array, in this case -- comment.
}}
<div class="comments">
  {{#each this}}
    <section class="comment">
      <div class="meta">
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <div class="text">
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>