<section  class="new-post-section">
  <form class="new-post-form">
    <div>
      <input type="text" id="post-title" name="post-title" placeholder="     POST TITLE" />
    </div>
    <div>
      <textarea id="content" name="content" placeholder="     POST CONTENT"></textarea>
    </div>
    <button type="submit" class="btn">
      CREATE NEW POST
    </button>
  </form>
</section>
<script src="/javascript/add-post.js"></script>