<h1>Tech Blog</h1>
<div class="row">
  {{#each posts as |post|}}
    {{!-- To use a partial, all we need is the > character, 
    followed by the name of the partial file and the object we'll pass to the partial. --}}
    {{> post-info post }}
  {{/each}}
 </div>
