<div class="login-container">
    <div class="row">
        <div class="col-md-offset-5 col-md-5 login-form-wrapper">
            <div class="form-login">
            <h4>Welcome back</h4>
            <input type="text" id="email-login" class="form-control input-sm chat-input" placeholder="email" />
            </br>
            <input type="password" id="password-login" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">     
                <a href="#" class="btn btn-primary btn-md">LOGIN <i class="fas fa-sign-in-alt"></i></a>
            </span>
            <a href="/signup">Sign up instead</a>
            </div>
            </div>
        
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>